memory-profiler==0.61.0
numpy==1.26.0
Pillow==10.0.1
psutil==5.9.5
flake8
flake8-blind-except
flake8-broken-line
flake8-bugbear
flake8-builtins
flake8-class-attributes-order
flake8-cognitive-complexity
flake8-commas
flake8-comprehensions
flake8-debugger
flake8-eradicate
flake8-functions
flake8-isort
flake8-mutable
flake8-print
flake8-pytest
flake8-pytest-style
flake8-quotes
flake8-string-format
flake8-variables-names
